{% extends 'website/base.html' %}

{% block content %}
  <section class="section is-medium home-intro">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
        </div>
        <div class="column is-8">
          <h1 class="title">
            A APyB
          </h1>

          <p>
            A Associação Python Brasil (APyB) é uma associação sem fins
            lucrativos formada em abril de 2007 com objetivo de apoiar as
            comunidades relacionadas à linguagem Python e suas tecnologias
            derivadas no Brasil.
          </p>

          <p>
            Ela é composta por uma diretoria, um conselho deliberativo,
            um conselho fiscal, suplentes do conselho e o corpo de associados.
          </p>

          <p>
            Atualmente a <b>APyB</b> tem como seu principal objetivo atuar
            como um canal facilitador para a comunidade realizar o evento
            nacional da linguagem Python (Python Brasil), bem como para
            os eventos regionais.

            <br>

            Intermediando o processo de captação de recursos, documentando
            processos, conectando pessoas, fornecendo infra estrutura,
            dentre outros.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
